<Signature xmlns="http://www.w3.org/2000/09/xmldsig#">
  <SignedInfo>
    <CanonicalizationMethod Algorithm="http://www.w3.org/TR/2001/REC-xml-c14n-20010315" />
    <SignatureMethod Algorithm="http://www.w3.org/2000/09/xmldsig#rsa-sha1" />
    <Reference URI="#Licensing">
      <DigestMethod Algorithm="http://www.w3.org/2000/09/xmldsig#sha1" />
      <DigestValue>6wQJfnmj0iY0n7GzKnr9P1D9ux8=</DigestValue>
    </Reference>
  </SignedInfo>
  <SignatureValue>QIDZTrihCEzg5lqd6LJvlbP6DLO7m/5R6SnN962n8kMYYCm2DQXfpOW6ft9sjn18+rU+/NA2ghiRfZ4Z4V+uGrUzmMcFQS4TH9Bqbr64RSxeI5bZAZIotGPZeS2OEKgT/hKDjWACghdsJHDsFu/6xZPFt/oCQOgKqkHaC5xql0Y=</SignatureValue>
  <KeyInfo>
    <KeyValue>
      <RSAKeyValue>
        <Modulus>l8slyw1cbtPccvCM/sgrErnNXJMMYwxsuV74so72eENdDwyV1g4Z1WvVre2Dn6q02bSDlneNhV/625RRD4EG1L9cu8WFWvE/6vCsHy/zA+loVaXnvsJiBmK4j7JDTwRtvE51aoBpiJOkNfrSh3HVD12uxsHW0dMXpMgNSlyoEns=</Modulus>
        <Exponent>AQAB</Exponent>
      </RSAKeyValue>
    </KeyValue>
  </KeyInfo>
  <Object Id="Licensing">
    <License Name="EPiServer" xmlns="">
      <MetaData>
        <LicensedTo>Ryan Ducie</LicensedTo>
        <LicensedCompany>Shangri-La International Hotel Management Ltd.</LicensedCompany>
        <LicenseNumber>406610</LicenseNumber>
        <LicenseRevision>406610</LicenseRevision>
        <LicenseType>12-Month Partner Developer License</LicenseType>
        <LicenseCreated>2016-07-12 09:19:00</LicenseCreated>
      </MetaData>
      <Restrictions>
        <Restriction>
          <VersionRestriction From="7.0" To="10.65535" Type="EPiServer.Licensing.RestrictionTypes.VersionRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <MACRestriction Address="A0481CA2526A" Type="EPiServer.Licensing.RestrictionTypes.MACRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <ValidToRestriction Date="07/12/2018 00:00:00" Type="EPiServer.Licensing.RestrictionTypes.ValidToRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <NotCommercialRestriction Type="EPiServer.Licensing.RestrictionTypes.NotCommercialRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <MultiSiteRestriction Id="406610" Limit="1000" Type="EPiServer.Licensing.RestrictionTypes.MultiSiteRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
      </Restrictions>
    </License>
    <License Name="EPiServerRelate+" xmlns="">
      <MetaData>
        <LicenseType>12-Month Partner Developer License</LicenseType>
        <LicenseNumber>406610</LicenseNumber>
      </MetaData>
      <Restrictions>
        <Restriction>
          <VersionRestriction From="7.0" To="10.65535" Type="EPiServer.Licensing.RestrictionTypes.VersionRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <MACRestriction Address="A0481CA2526A" Type="EPiServer.Licensing.RestrictionTypes.MACRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <ValidToRestriction Date="07/12/2018 00:00:00" Type="EPiServer.Licensing.RestrictionTypes.ValidToRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <NotCommercialRestriction Type="EPiServer.Licensing.RestrictionTypes.NotCommercialRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <MultiSiteRestriction Id="406610" Limit="1000" Type="EPiServer.Licensing.RestrictionTypes.MultiSiteRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
      </Restrictions>
    </License>
    <License Name="EPiServer Commerce" xmlns="">
      <MetaData>
        <LicenseType>12-Month Partner Developer License</LicenseType>
        <LicenseNumber>406610</LicenseNumber>
      </MetaData>
      <Restrictions>
        <Restriction>
          <VersionRestriction From="7.0" To="10.65535" Type="EPiServer.Licensing.RestrictionTypes.VersionRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <MACRestriction Address="A0481CA2526A" Type="EPiServer.Licensing.RestrictionTypes.MACRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <ValidToRestriction Date="07/12/2018 00:00:00" Type="EPiServer.Licensing.RestrictionTypes.ValidToRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <NotCommercialRestriction Type="EPiServer.Licensing.RestrictionTypes.NotCommercialRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <MultiSiteRestriction Id="406610" Limit="1000" Type="EPiServer.Licensing.RestrictionTypes.MultiSiteRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
      </Restrictions>
    </License>
    <License Name="ConnectForCrm" xmlns="">
      <MetaData>
        <LicenseType>12-Month Partner Developer License</LicenseType>
        <LicenseNumber>406610</LicenseNumber>
      </MetaData>
      <Restrictions>
        <Restriction>
          <VersionRestriction From="7.0" To="10.65535" Type="EPiServer.Licensing.RestrictionTypes.VersionRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <MACRestriction Address="A0481CA2526A" Type="EPiServer.Licensing.RestrictionTypes.MACRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <ValidToRestriction Date="07/12/2018 00:00:00" Type="EPiServer.Licensing.RestrictionTypes.ValidToRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <NotCommercialRestriction Type="EPiServer.Licensing.RestrictionTypes.NotCommercialRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <MultiSiteRestriction Id="406610" Limit="1000" Type="EPiServer.Licensing.RestrictionTypes.MultiSiteRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
      </Restrictions>
    </License>
    <License Name="ConnectForSharePoint" xmlns="">
      <MetaData>
        <LicenseType>12-Month Partner Developer License</LicenseType>
        <LicenseNumber>406610</LicenseNumber>
      </MetaData>
      <Restrictions>
        <Restriction>
          <VersionRestriction From="7.0" To="10.65535" Type="EPiServer.Licensing.RestrictionTypes.VersionRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <MACRestriction Address="A0481CA2526A" Type="EPiServer.Licensing.RestrictionTypes.MACRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <ValidToRestriction Date="07/12/2018 00:00:00" Type="EPiServer.Licensing.RestrictionTypes.ValidToRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <NotCommercialRestriction Type="EPiServer.Licensing.RestrictionTypes.NotCommercialRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <MultiSiteRestriction Id="406610" Limit="1000" Type="EPiServer.Licensing.RestrictionTypes.MultiSiteRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
      </Restrictions>
    </License>
  </Object>
</Signature>