@model ShangriLaWeb.Models.Blocks.HotelModuleBlock

@*<div class="span">
        <div class="media">
            <div class="mediaImg">
                <img src="@Url.ContentUrl(Model.TeaserImage)" />
            </div>
            <div class="mediaText">
                <h2>@Model.Title</h2>
                <p>@Html.PropertyFor(x => x.Subtitle)</p>
            </div>
        </div>
    </div>*@


<!-- Module Paradise Found Starts Here-->
<section id="overview" class="viewport-element overview-container section-row inpage-element" data-pos="729">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="overview-left-container">
                    <div class="section-header">
                        <h2 class="section-heading">Paradise found</h2>
                        <div class="description">Step into an oasis of calm and comfort in one of the Asia’s most historic, energetic cities. Spread across 15 acres of lush greenery and landscaped gardens, Shangri-La Hotel, Singapore</div>
                    </div>
                    <div class="content-container">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempor pulvinar rutrum. Maecenas ultrices ipsum neque, in varius quam viverra in. Praesent facilisis posuere luctus. Sed et nunc a nisl venenatis euismod. Ut eleifend est non mauris hendrerit egestas. Maecenas vel felis at sapien vulputate feugiat. Etiam imperdiet ut magna vel convallis. Nulla aliquam iaculis massa. Phasellus vel elit porttitor, pellentesque nibh nec, porta ligula.</p>
                        <div class="row facilities">
                            <div class="col-md-4 col-sm-4"><span class="icon-view">3 Distinct Wings</span></div>
                            <div class="col-md-4 col-sm-4"><span class="icon-view">15 Acres of Greenary</span></div>
                            <div class="col-md-4 col-sm-4"><span class="icon-view">9 Bars &amp; Restaurants</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="image-container scaled-image"><img src="@Url.Content("~/Content/img/content/paradise-found.jpg")" alt="Paradise found"></div>
            </div>
        </div>
    </div>
</section>

